language: go
go:
        - 1.12.x
        - 1.13.x
        - 1.14.x
        - master
before_install:
        - ./scripts/install_protobuf.sh
        - export PATH=$PATH:$HOME/protobuf/bin:$GOPATH/bin
install:
        - go get -u golang.org/x/tools/cmd/goimports
        - go get -u google.golang.org/protobuf/protoc-gen-go
        - make install
script:
        - go test ./...
        - go test -race ./...
        - go vet ./util
        - go vet -composites=false ./ygot
        - go vet ./ygen
        - go vet ./ytypes
        - go vet ./ygot/pathtranslate
        - diff -u <(echo -n) <(gofmt -d -s ./util)
        - diff -u <(echo -n) <(gofmt -d -s ./ygot)
        - diff -u <(echo -n) <(gofmt -d -s ./ygen)
        - diff -u <(echo -n) <(gofmt -d -s ./ytypes)
        - diff -u <(echo -n) <(gofmt -d -s ./ygot/pathtranslate)
after_success:
        - ./scripts/coverage.sh
